/*
    You can add your own custom styles here.
*/

/* 背景图片 */
// body {
//     background-image: url(/bg-halloween.png), linear-gradient(rgba(255, 255, 255, 0.5), rgba(19, 17, 17, 0.5));
//     background-repeat: repeat;
//     background-size: contain;
//     background-attachment: fixed;
//   }

.myfigure figcaption {
    font-size: 1.4rem;
    color: var(--card-text-color-secondary);
    margin-bottom: 1.5em;
    font-family: 'LXGW WenKai', sans-serif; /* 设置字体 */
    // margin-top: -0.5em;
}

:root {
    --base-font-family: 'LXGW WenKai', "Lato", var(--sys-font-family), var(--zh-font-family), sans-serif;
}

.article-copyright {
    margin-bottom: -2em !important;
}

body .pswp__caption__center {
    text-align: center; /* 这样就可以覆盖原来的 text-align: center */
}

.article-lastmod {
    margin-bottom: -1em !important;
}


.atk-copyright {
    display: none !important;
}

.artalk > .atk-list > .atk-list-header .atk-text {
    display: flex !important;
}
